body {
    min-height: 100vh;
    margin: 0px;
}

.header,
.hero_section,
.footer {
    background-color: #1F2937;
}

.header,
.hero_section,
.carousel,
.quote,
.call_to_action,
.footer {
    padding: 10px 100px 10px 100px;
}

ul,
.header,
.hero_section,
.call_to_action {
    display:flex;
}

.header {
    height: 100px;
    justify-content: space-between;
}
.content {
    height: 1000px;
}

.hero_section {
    height: 200px;
}

.carousel {
    height: 200px;
    text-align: center;
}

.carousel_items {
    justify-content: space-evenly;
}

.quote {
    height: 200px;
}
.footer {
    height: 300px;
}

img {
    max-height: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 8px;
}