body {
    min-height: 100vh;
    margin: 0;
}

.header,
.hero_text,
.footer {
    background-color: #1F2937;
}

ul,
.header,
.hero_section,
.call_to_action {
    display:flex;
}

.header {
    height: 300px;
    justify-content: space-between;
    padding: 10px;
}
.content {
    height: 500px;
}

.hero_section {
    height: 100px;
}

.carousel {
    height: 100px;
}

.quote {
    height: 100px;
}
.footer {
    height: 300px;
}

img {
    max-height: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 8px;
}